.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.Ingredients {
  width: 45%;
  height: auto;
  border: 2px solid rgba(0,0,0,0.5);
  box-shadow: 3px 2px 4px rgba(0,0,0,0.3) inset;
  padding: 20px;
  border-radius: 20px;
}

.BurgerImage {
  display: flex;
  flex-direction: column;
}

.BurgerPic {
  width: 50% !important;
}